* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.img-container-logo {
    width: 150px;
    height: auto;
}
.img-container-logo img {
    width: 100%;
}
.navbar {
    background-color: #000;
    color: #fff;
    padding: 0;
    box-shadow: 1px 1px 5px 0px rgb(19, 19, 19);
}
.fab, .fas {
     color: #fff;
     font-size: 30px;
     margin-right: 10px;
}
.navbar-nav{
    background-color: #eac13d;
    display: block;
    padding: 10px;
}
.serv-tecnico {
    text-align: center;
    font-weight: 600;
    color: black;
}
.nav-link {
    color: black;
    font-weight: 500;
}
.carousel-item {
    height: 80vh;
    object-fit: cover;
}
.carousel-inner img{
    width: 150%;
    height: 100%;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.666);
    padding-top: 180px;
    padding-bottom: 180px;
}

.container-img {
    background: url("./img/automotor01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
}