* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.top-bar {
background-color: #000;
color: #fff;
display:flex;
justify-content: center;
font-size:14px;
padding: 5px;
text-decoration: none;
}

.top-bar a {
    color: white;
}

.navbar-brand {
    max-width: 150px;
}

.navbar-toggler {
    color: black;
}

.fas {
     color: #fff;
     font-size: 15px;
     margin-right: 10px;
     align-self: center;
}
.fab {
    margin-left: 10px;
    font-size: 20px;
}

/* .serv-tecnico {
    text-align: center;
    font-weight: 600;
    color: black;
}
.nav-link {
    color: black;
    font-weight: 500;
}
.carousel-item {
    height: 80vh;
    object-fit: cover;
} */

.container-img-1{
    background: url("img/automotor02.png");
    background-position: center center;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80vh;
}

.container-img-2{
    background: url("img/automotor01.png");
    background-position: center center;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80vh;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.666);
    padding-top: 180px;
    padding-bottom: 180px;
    margin-bottom: 40px;

/* .container-img {
    background: url("./img/automotor01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
}  */