* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.top-bar {
background-color: #000;
color: #fff;
display:flex;
justify-content: center;
font-size:14px;
padding: 5px;
text-decoration: none;
}

.top-bar a {
    color: white;
}

.navbar-brand {
    max-width: 150px;
}

.navbar-toggler {
    color: black;
}

.fas {
     color: #fff;
     font-size: 15px;
     margin-right: 10px;
     align-self: center;
}
.fab {
    margin-left: 10px;
    font-size: 20px;
}

/* .serv-tecnico {
    text-align: center;
    font-weight: 600;
    color: black;
}
.nav-link {
    color: black;
    font-weight: 500;
}
.carousel-item {
    height: 80vh;
    object-fit: cover;
} */

.container-img-1{
    background: url("img/automotor02.png");
    background-position: center center;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80vh;
}

.container-img-2{
    background: url("img/automotor01.png");
    background-position: center center;
    width: 100%;
    display: grid;
    place-items: center;
    height: 80vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.666);
    height: 93%;
    display: grid;
    place-items: center;
    align-content: center;
    padding: 20px;
   /*  width: 100%; */
}


.service-title {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 40px;
}

.services {
    background-color:rgb(234, 193, 61);
    width: 100%;
    height: 100vh;
    
}
.cards-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.card {
    margin: 10px;
    background-color: #fff;
    border:none;
    height: 20rem;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

.card-body {
    margin: auto;
}

footer {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.redes {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.redes i {
    color: #cac7c7;
}
.logo-footer img{
    height: 50px;
    margin-top: 10px;
}

@media (max-width: 700px) {
.card {
    height: 15rem;
    }
.card-img-top {
    height: 150px;
    }
.card-body {
    text-align: center;
}
}
@media (max-width: 426px) {
.caption h3 {
    font-size: 18px;
    }
.caption p {
    font-size: 14px;
    }
.services{
    height: 1200px;
    }
.card {
    width: 
}
.card-img-top {
    width: fit-content;
}
.cards-container {
    display: flex;
    flex-direction: column;
    }
}